<div class="row">
  <div class="col-md-9">
    <h1>My Prospects</h1>
  </div>
  <div id="new-prospect-button" class="col-md-3 text-right">
    <%= link_to "New Prospect", new_prospect_path, class: "btn btn-primary" %>
  </div>
</div>

<%= will_paginate %>

<%= render @prospects %>

<%= will_paginate %>
