<% content_for :content_head do %>
  <h1>Admin Dashboard</h1>
<% end %>

<div class="row">
  <div class="col-md-3">
    <div class="info-box">
      <span class="info-box-icon bg-yellow">
        <i class="glyphicon glyphicon-user"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Prospects</span>
        <span class="info-box-number">10</span>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>