<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <%= link_to(root_path) do %>
          <span class="glyphicon glyphicon-dashboard"></span>Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to(new_prospect_path) do %>
          <span class="glyphicon glyphicon-plus"></span>Create a Prospect
        <% end %>
      </li>
    </ul>
  </section>
</aside>