<header class="main-header">
  <a href="<%= root_url %>" class="logo">
    <span class="logo-mini">
      <b>4O</b>
    </span>
    <span class="logo-lg">
      <b>4Outreach</b>
    </span>
  </a>
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
  
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", root_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
              <li><%= link_to "login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
